COMPOSE_PROJECT_NAME=automatum

TZ=America/Sao_Paulo

MARIADB_DATABASE=automacao

MARIADB_ROOT_PASSWORD=<define-root-password>

MARIADB_ADMIN_USER=automacao_admin
MARIADB_ADMIN_PASSWORD=<define-admin-password>

API_DB_USER=api_write
API_DB_PASSWORD=<define-api-password>

GRAFANA_DB_USER=grafana_read
GRAFANA_DB_PASSWORD=<define-grafana-password>

PYTHON_DB_USER=python_app
PYTHON_DB_PASSWORD=<define-python-password>

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<define-grafana-admin-password>

METEO_API_KEY=<define-api-key>

WHATSAPP_ACCESS_TOKEN=<meta-access-token>

WHATSAPP_PHONE_NUMBER_ID=<phone-number-id>

WHATSAPP_DESTINATION=<5511999999999>
